h1{
  color: olivedrab;
  font-size: 1.5rem;
  padding-left: 10px
}
h2{
  color: gray;
  font-size: 1.2rem;
  padding-left: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  
  

}
.Card1{
  border: green 2px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  cursor: pointer;
  width: 25%;
  box-shadow: green 4px 4px;
  background-color: beige;
  


}
.Img1{
  display: flex;
  
  
  
  width: 100%;
  height: 40%;
  border-radius: 40%;
}

.Card1 img{
  width: 50%;
  height: 70%;
  border-radius: 8px;
  
}
p{
  font-size: 2.4rem;
  color: orange;
}

@media screen and (max-width: 500px) {
  h1{
    font-size: 1rem;
    padding: 0;
  }
  h2{
    font-size: 0.8rem;
    padding: 0;
  }
  p{
    font-size: 1.8rem;
    padding: 0;
  }
}